* {
    margin: none;
    padding: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 90vh;
    background-color: white;
    margin: 2%;
}
h1 {
    margin: none;
}

.input {
    border: 1px solid black;
    width: 80%;
    height: 55%;
    margin: 1%;
}
.title--input {
    margin: 1%;
}
.text-area--input {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.button-area--input {
    display: flex;
    justify-content: space-around;
}

.card {
    border: 1px solid black;
    width: 80%;
    height: 55%;
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
     overflow-x: hidden; 
}
.cards {
    width: 32%;
    height: 45%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
       
}
.hidden {
    display: ;
}
.unique-card {
    text-align: center;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 60vw;
    height: 60vh;

}

.header--modal {
    padding: 1vh 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
.title--header--modal {
    font-weight: bold;
    font-size: 1.25rem;
}
.close-button--header--modal {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.body--modal {
    padding: 1vh 1vw;
}
